// For Home
$textcolor: #e9c835;
$mediumFontSize: 1.5rem;
$btnFirstBgColor: #f97b22;
$homeBGcolor: #ffffff;
$textShadow: #00000056;

// for auth page
$formPadding: 30px;
$formBG: #fff;
$BorderColor: #eeeedb;
$smallFont: 1rem;
$paddingInsideInput: 7px 10px;
$inputFocusColor: goldenrod;
$btnBG: #daa5209a;

//For Nav
$navbarBGcolor: #f9d949;
$navbarLogoColor: #fff3c4;

$pageheight: calc(100vh - 70px);

//Side bar
$sidebarBg: #3a9e2d;

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-align-center {
	display: flex;
	align-items: center;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin outline-none {
	outline: none;
	border: none;
}

@mixin Btn-blue {
	padding: 3px 5px;
	border-radius: 3px;
	background-color: #3560e0;
	color: #fff;
	&:hover {
		background-color: #5075e7;
	}
}
